[client]
port		= 3306
socket		= /var/run/mysqld/mysqld.sock
default-character-set=utf8

[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]

log=/var/log/mysql.log 
user		= mysql
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
basedir		= /usr
datadir		= /var/lib/mysql
tmpdir		= /tmp
lc-messages-dir	= /usr/share/mysql
skip-external-locking
#skip-innodb
default-storage-engine=myisam

#default-character-set = utf8
init-connect='SET NAMES utf8'
character-set-server = utf8

#skip-character-set-client-handshake
#default-character-set=utf8
#init-connect='SET NAMES utf8'
#default-collation=utf8_general_ci

#collation-server = utf8_unicode_ci
#character-set-server = utf8

key_buffer		= 16M
max_allowed_packet	= 16M
thread_stack		= 192K
thread_cache_size   = 8
myisam-recover      = BACKUP
query_cache_limit	= 1M
query_cache_size	= 16M
expire_logs_days	= 10
max_binlog_size     = 100M

[mysqldump]
quick
quote-names
max_allowed_packet	= 16M

[mysql]
#default-character-set = utf8

[isamchk]
key_buffer		= 16M
!includedir /etc/mysql/conf.d/
