{% extends "base.html" %}

{% block all_title %}О проекте{% endblock %}

{% block about %}
<div>
  <br><br><br>
    <i>
        &emsp;&emsp;&emsp; &emsp;&emsp;&emsp;С развитием рыночной экономики жизнь людей усложнилась. <br><br>
        &emsp;&emsp;&emsp;Сегодня многие семьи имеют несколько источников дохода, вклады в банках, акции. <br><br>
        &emsp;&emsp;&emsp;Структура расходов также существенно расширилась. В целом по стране картина наблюдается следующая. <br><br>
        &emsp;&emsp;&emsp;Основные источники доходов - оплата труда, социальные выплаты со стороны государства (пенсии, стипендии, пособия), <br><br>
        &emsp;&emsp;&emsp;доходы от предпринимательской деятельности и доходы от собственности. Расходуются же средства в основном на покупку <br><br>
        &emsp;&emsp;&emsp;продуктов питания, товаров длительного пользования, оплату услуг и на прирост финансовых активов. <br><br>
        &emsp;&emsp;&emsp;Но при этом лишь малая часть населения знает детали распределения своих денежных средств.<br><br>
     </i>

    <div align="center">
        <img width="30%" height="30%" alt="Просмотреть" src="/media/images/roj.jpg"></a>
    </div>
</div>
{% endblock %}
